{% extends 'filme/base.html' %}

{% block 'title' %}Index{% endblock 'title' %}


{% block "content" %}

<div class="container">
    <div>
        <a href="{% url 'filme:post' %}">
            <span>Adicionar novo filme</span>
        </a>
    </div>


    <div>

        {% for filme in filmes %}
        <div class="filme">
            {{ filme.filme }}
            {{ filme.genero }}
            {{ filme.preco }}
            {{ filme.quantidade }}
            <a href="{% url 'filme:edit' filme.pk %}">
                <button type="button">
                    Editar
                </button>
            </a>
            <a href="{% url 'filme:delete' filme.pk %}">
                <button type="button">
                    Deletar
                </button>
            </a>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock "content" %}